{% extends 'catalog/base.html' %}

{% block title %}Список товаров{% endblock %}
{% block content %}
{% include 'catalog/header.html' %}
<div class="d-flex justify-content-center my-3">
    <a class="btn btn-outline-primary" href="{% url 'catalog:create_product' %}">Создать продукт</a>
</div>
<h1 class="text-center" >Список товаров</h1>
<ul class="list-group-item text-center">
    {% for product in products %}
    <li class="list-group">
        <strong class="mt-4"> {{ product.name }}</strong><br>
        {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}" width="200" class="d-block mx-auto my-2">
        {% else %}
            <img src="/static/no-image.png" alt="Нет фото" width="100">
        {% endif %}
            Цена: {{ product.price }} руб.
            {{ product.description|truncatechars:100 }}
            <a href="{% url 'catalog:product_detail' product.id %}">Подробнее</a>
    </li>
        {% empty %}
            <li class="list-group-item">Нет товаров</li>
        {% endfor %}
    </ul>
{% endblock %}