<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список товаров</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <h1 class="text-center">Список товаров</h1>
    <ul class="list-group-item text-center">
        {% for product in products %}
            <li class="list-group">
                <strong class="mt-4"> {{ product.name }}</strong><br>
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" width="200" class="d-block mx-auto my-2">
                {% else %}
                    <img src="/static/no-image.png" alt="Нет фото" width="100">
                {% endif %}
                Цена: {{ product.price }} руб.
                {{ product.description|truncatechars:100 }}
                <a href="{% url 'catalog:product_detail' product.id %}">Подробнее</a>
            </li>
        {% empty %}
            <li class="list-group-item">Нет товаров</li>
        {% endfor %}
    </ul>
</body>